html{
    position: relative;
    min-height: 100%;   
}

body{
    background-color:  #53B666;
}

.btn-modif{
    background-color: #ffb347;
    color: white;   
    border-color: #ffb347;
}

.btn-modif:hover, .btn-modif:focus{
    background-color: #ff9d15;
    border-color: #ff9d15;
    color: white;
}

.box{
    width: 100%;
    height: fit-content;
    border: 1px solid #ccc;
    background-color: white;
    z-index: 999;
    border-radius: 4px;
    margin-top: 50px;
    border-bottom: 3px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

hr{
    width: 80%;
}

h1, h4{
    color: #95a5a6;
    margin-bottom: 20px;
}

.web-logo{
    text-align: center;
    margin-top: 10px;
}

.web-logo img{
    width: 150px;   
    height: 200px;
}

.form-group{
    padding: 0 40px 0 40px;
    margin-bottom: 15px;
}

.form-group .form-control{
    width: 100%;
    box-shadow: none;
}

.form-control:focus{
    border-color: #2ecc71;
}


