html{
    position: relative;
    min-height: 100%;
}

body{
    background-color: #f5f5f5;
}

.btn-modif{
    background-color: #53B666;
    color: white;   
    border-color: #53B666;
}

.btn-modif:hover, .btn-modif:focus{
    background-color: #59A14C;
    border-color: #59A14C;
    color: white;
}
.btn-logout{
    background-color: #fa9200;
    border-color: #fa9200;
    color: white;
}
.btn-logout:hover{
    background-color: #e18300;
    border-color: #e18300;
    color: white;
}

.form-group .form-control{
    box-shadow: none;
    margin-bottom: 5px;
}

.form-control:focus{
    border-color: #5faf50;
}

header{
    width: 100%;
    height: 80px;
    background-color:  #53B666;
}
.icon a:hover{
    opacity: .5%;
}

.section-left-side{
    margin-top: 20px;
    padding: 15px;
}

.section-left-side a{
    color: white;
    text-decoration: none;
}

.section-left-side a:hover{
    color: #ffc87b;
}
.active, .menu:hover {
    color: black;
}

.section-core{
    width: 100%;
    padding-bottom: 300px;
}

footer{
    padding: 10px;
    width: 100%;
    background-color:#419650;

}

.all-header{
    width: 100%;
}

.section-content{
    padding: 20px;
}

.status-pesanan-container{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    width: 100%;
    margin-top: 20px;
    padding: 10px;

}
.status-pesanan-container:hover{
    background-color: #F0F0ED;
    cursor: pointer;
}

.sayur-home-container, .user-home-container, .manage-sayur-container{
    width: 100%;
    color: #e67e22;
    text-align: center;
    background-color: white;
    padding: 15px;
    border: 3px solid #bdc3c7;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
}

.sayur-home-container, .user-home-container{
    overflow-x: scroll;
    white-space: nowrap;
    overflow-x: hidden;
}

.sayur-home-container:hover, .user-home-container:hover, .manage-sayur-container:hover{
    cursor: pointer;
    border: 3px solid #53B666;
}

.sayur-home-img, .user-home-img{
    width: 100%;
    height: 200px;
    background-size: 100% 100%; 
}

.manage-sayur-header-search{
    margin-top: 10px;
}

.manage-sayur-header-search .form-control{
    box-shadow: none;
}

.manage-sayur-header-search .input-lg{
    color: black;
    border-color: #5faf50;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none;
}

.manage-sayur-header-search button{
    padding: 0px 2px 3px 0px;
    background-color: white;
    border-left: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.manage-sayur-header-search button:hover{
    background-color: white;
}

.manage-sayur-header-search button:focus{
    background-color: white;
    box-shadow: none;
}

.manage-sayur-header-search img{
    background-size: 100% 100%;
    width: 30px;
}

.image-upload-btn{
    width: 100%;
}

.input-image{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.image-place-upload{
    text-align: center;
    width: 100%;
    height: 200px;
    border: 1px solid #bdc3c7;
    margin-bottom: 5px;
    background-color: white;
}

.image-place-upload img{
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}

.btn-tambah-sayur{
    width: 100%;
    margin-top: 30px;
}

.navbar-home .navbar-inner .logo-navbar img {
    width: 1px;
    height : 1px;
}
.navbar-home .navbar-inner .nav ul li {
    display: inline;
    line-height: 50px;
    padding-left: 10px;
}

.btn-modif-hapus{
    background-color:#e67e22;
    color: white;   
    border-color: #e67e22;
    width: 100%;
    margin-top: 50px;
}
.btn-modif-hapus:hover, .btn-modif-hapus:focus{
    background-color: #ff983d;
    border-color: #ff983d;
    color: white;
}
.modal {
    position:F fixed;
    top: 50%;
    left: 50%;
  transform: translate(-50%, -50%);

}
  

